<!doctype html>
<html lang="en" ng-app="MusicWhereYouAreApp">
	<head>
		<meta charset="utf-8">
		<title>Music Where You Are Angular</title>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
		<link rel ="stylesheet" href="/MusicWhereYouAre/style.css">
		<script src="bower_components/jquery/dist/jquery.min.js"></script>	
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
 		<script src="bower_components/ui-utils/ui-utils.min.js"></script>
 		<script src="http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=false&language=en&v=3.13"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
		<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
		<script src="js/app.js"></script>
			
				
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>	
		<script src="js/filters.js"></script>	
		
	</head>
	<body>

		<div ng-view></div>
		<section id="icon_holder">
			<a ng-href="{{genre}}"><div class="open_div" aria-hidden="true" data-icon="W"></div></a>
			<div class="open_div_spot" aria-hidden="true" data-icon="T"></div>
			<div class="open_div_fav" aria-hidden="true" data-icon="t"></div>
		</section>

		<!--<div class="genre" aria-hidden="true" data-icon="C"></div>
		<div class="genre" aria-hidden="true" data-icon="D"></div>
		<div class="genre" aria-hidden="true" data-icon="M"></div>-->
		
		<section id="contact">
			<ul>
				<li>
					<a href="mailto:robert.ostheimer@cityblinking.com"><img border="none" src="/MusicWhereYouAre/genre_icons/mail.svg" alt="email"/></a>
				</li>
				<li>
					<a href="https://twitter.com/robostheimer" target="_blank"><img border="none" src="/MusicWhereYouAre/genre_icons/twitter.svg" alt="email"/></a>
				</li>
			</ul>
		</section>

		<header>

		</header>
		<section id="whereyouat" ng-controller="formController">
			<form novalidate class="simple-form" id="search" >
					<input type="text"  name="find music" id="findmusic" placeholder="City, ST or ST"  class="text"  ng-model="location" ng-enter="controlForm(location)">
			</form>
			<div class="search"  aria-hidden="true" data-icon="e" ng-click="controlForm(location)" ></div>

		</section>

		<div style="clear:both"></div>

		<!-- <ul id="chooser">

		<li class="musicwhereyouare active" id="music_where" ></li>
		<li class="geomix inactive" id="geomix" ></li>
		<li class="folowwme inactive" id="follow_me" ></li>
		-->
		</ul>
		<section id="geolocation_alert"><p>Choose a City and State from the form below or enable geolocation on your device.</p></section>
		<section id="map-area">
			<div mwya-map='mwya-map' id='map-canvas' style="display:block"><div style="width:100px; margin:auto"><img src="/MusicWhereYouAre/loading.gif" alt="loading"/></div></div>
			<div mwya-marker='mwya-marker'></div>
		</section>
		
		<div style="clear:both"></div>

		<section class="attribute">
			Note: This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.
			<br/>
			Powered By: <img src="/MusicWhereYouAre/genre_icons/echonest.svg" alt="echonest"/><img src="/MusicWhereYouAre/genre_icons/wikimedia.png" alt="wikimedia"/><img src="/MusicWhereYouAre/genre_icons/spotify_green.svg" alt="spotify"/>
		</section>
	</body>
</html>
